- content_for :title,  "Plans"

.row
  .col-lg-12
    .box
      .box-header{"data-original-title" => ""}
        %h2
          %i.icon-beaker
          = succeed "Subscription Plans" do
            %span.break
        .box-icon
          = link_to raw("<i class='icon-plus'></i>"), new_admin_subscription_plan_path, class: "", title: "Create a new plan"
          = link_to_minimize
      .box-content
        %table#location-curators.table.table-striped.table-bordered.bootstrap-datatable.datatable
          %thead
            %tr
              %th Name
              %th Stripe ID
              %th Trial
              %th Renewal
              %th Amount
              %th Actions
          %tbody
            - @subscription_plans.each do |plan|
              %tr
                %td= plan.name.titleize
                %td= plan.stripe_id
                %td= plan.trial_period
                %td= plan.renewal_period
                %td= number_to_currency(plan.amount)
                %td
                  = button_link_to(edit_admin_subscription_plan_path(plan), "icon-pencil", "btn-info")
                  = button_link_to_destroy(admin_subscription_plan_path(plan), "Are you sure you want to permanently remove #{plan.name.titleize}? ")
