%h1 Listing admins_users

%table
  %tr
    %th Dashboard
    %th
    %th
    %th

  - @admins_users.each do |admins_user|
    %tr
      %td= admins_user.dashboard
      %td= link_to 'Show', admins_user
      %td= link_to 'Edit', edit_admins_user_path(admins_user)
      %td= link_to 'Destroy', admins_user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_admins_user_path
