= form_for @accounts_user do |f|
  - if @accounts_user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@accounts_user.errors.count, "error")} prohibited this accounts_user from being saved:"
      %ul
        - @accounts_user.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
