= form_for @lodge do |f|
  - if @lodge.errors.any?
    #error_explanation
      %h2= "#{pluralize(@lodge.errors.count, "error")} prohibited this lodge from being saved:"
      %ul
        - @lodge.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
